
.frame {
  transition: background-color 0.5s ease;
}

.add-contrast-dark {
  color: white;
}

.slide-title strong {
  border: 1px solid white;
  padding: 0.02em 0.8em;
  margin-left: -14px;
}

.slide-title strong:nth-child(2) {
  background: transparent;
}